NAVER_CLIENT_ID=your_naver_client_id
NAVER_CLIENT_SECRET=your_naver_client_secret
CRON_SECRET=
BLOB_READ_WRITE_TOKEN=created_by_vercel_blob
CHROME_EXECUTABLE_PATH=optional_local_chrome_path
PORT=3010
