NAVER_CLIENT_ID=your_naver_client_id
NAVER_CLIENT_SECRET=your_naver_client_secret
NAVER_CLIENT_ID_1=your_first_naver_client_id
NAVER_CLIENT_SECRET_1=your_first_naver_client_secret
NAVER_CLIENT_PROVIDER_1=developers
NAVER_CLIENT_PROFILE_1=personal
NAVER_CLIENT_PROFILE_LABEL_1=개인 계정
NAVER_CLIENT_NAME_1=개인 키 1
NAVER_CLIENT_ID_2=your_second_naver_client_id
NAVER_CLIENT_SECRET_2=your_second_naver_client_secret
NAVER_CLIENT_PROVIDER_2=api-hub
NAVER_CLIENT_PROFILE_2=corporate
NAVER_CLIENT_PROFILE_LABEL_2=법인 계정
NAVER_CLIENT_NAME_2=법인 키 1
NAVER_ACTIVE_PROFILE=personal
NAVER_CLIENTS_JSON=[{"clientId":"your_naver_client_id","clientSecret":"your_naver_client_secret"}]
CRON_SECRET=
BLOB_READ_WRITE_TOKEN=created_by_vercel_blob
CHROME_EXECUTABLE_PATH=optional_local_chrome_path
PORT=3010
